// header
.cell-header
	height 40px
	line-height 40px
	text-align center
	position relative
	z-index 1
	background-color #666

	.title 
		display inline-block
		font-size 20px
		color #fff

	.header-btn
		display inline-block
		position absolute
		top 0
		width 40px
		height 100%

	.navbutton,.backbutton
		left 0

	.right-btn
		right 0
