// frame style
@import "./../stylus/var.styl"
@import "./../stylus/base.styl"
@import "./../card/card.styl"
@import "./../header/header.styl"
@import "./../search/search.styl"

// frame
.cell-frame
	width 100%
	min-height 480px
	overflow hidden


	
